*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 50vh 1fr;

}
